
body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(90deg, rgb(175, 203, 213),rgb(240, 239, 231));
;
}
.topNav{
    background-color: rgb(149, 172, 196);
    height:40px;
    width:100%;
    left:0px;
    right:0px;
    top:0px;
    position:fixed;
    border-style: solid;
    border-width: .35em;
    border-color:rgb(255, 255, 255)
    
}

.navBox{
    position: relative;
    top: -1em;
    color: gold;
    left: 40%;
    right:60%;
    text-shadow: 0 0 5px rgb(0, 0, 0),
    0 0 7px rgb(0, 0, 0);
    
}


.allThings{
    left: 2rem;
    right: 4rem;
    position:relative;
    top: 14rem;
}


.box1{
    position: relative;
    background-color: rgb(170, 194, 172);
    height: 18em;
    width: 18em;
    float: left;
    border:black;
    border-radius: .5em;
    border-style: solid;
    
}

.box1TitleBar{
   background-color:rgb(255, 234, 182);
   position: absolute;
   left: 0px;
   right:0px;
   border-radius: .25em;
   height:3em;
   border-style: solid;
   border-width: .35em;
   border-color:white;
    

}

.box1TitleContainer{
    color:gold;
    position: relative;
    top: -1em;
    text-shadow: 0 0 5px rgb(0, 0, 0),
    0 0 7px rgb(0, 0, 0);
    left:1em;
}


.box1MainContainer{
    position: relative;
    top:6em;
    color:white;
    font-family: fantasy;
    font-weight: 1000;
}


.box2{
    position: absolute;
    background-color: rgb(197, 198, 225);
    height: 18em;
    width: 18em;
    top:20%;
    left:22em;
    border-radius: .5em;
    border-style: solid;
}

.box2TitleBar{
    background-color:rgb(255, 234, 182);
    position: absolute;
    left: 0px;
    right:0px;
    border-radius: .25em;
    height:3em;
    border-style: solid;
    border-width: .35em;
    border-color:white;
     
 
 }

 .box2TitleContainer{
    color:gold;
    position: relative;
    top: -1em;
    text-shadow: 0 0 5px rgb(0, 0, 0),
    0 0 7px rgb(0, 0, 0);
    left:1em;
}
.box2MainContainer{
    position: relative;
    top:6em;
    color:white;
    font-family: fantasy;
    font-weight: 1000;
}
.box3{
    position: absolute;
    background-color: rgb(201, 178, 178);
    height: 18em;
    width: 18em;
    float: left;
    top: 24em;
    border-radius: .5em;
    border-style: solid;

}

.box3TitleBar{
    background-color:rgb(255, 234, 182);
    position: absolute;
    left: 0px;
    right:0px;
    border-radius: .25em;
    height:3em;
    border-style: solid;
    border-width: .35em;
    border-color:white;
     
 
 }

 .box3TitleContainer{
    color:gold;
    position: relative;
    top: -1em;
    text-shadow: 0 0 5px rgb(0, 0, 0),
    0 0 7px rgb(0, 0, 0);
    left:1em;
}
.box3MainContainer{
    position: relative;
    top:6em;
    color:white;
    font-family: fantasy;
    font-weight: 1000;
}

.box4{
    position: absolute;
    background-color: rgb(187, 187, 164);
    height: 18em;
    width: 18em;
    top:24em;
    left: 22em;
    border-radius: .5em;
    border-style: solid;

}

.box4TitleBar{
    background-color:rgb(255, 234, 182);
    position: absolute;
    left: 0px;
    right:0px;
    border-radius: .25em;
    height:3em;
    border-style: solid;
    border-width: .35em;
    border-color:white;
     
 
 }

 .box4TitleContainer{
    color:gold;
    position: relative;
    top: -1em;
    text-shadow: 0 0 5px rgb(0, 0, 0),
    0 0 7px rgb(0, 0, 0);
    left:1em;
}
.box4MainContainer{
    position: relative;
    top:6em;
    color:white;
    font-family: fantasy;
    font-weight: 1000;

}